$leftnav: #293041;
$primary-color: #fff;
$font-color: #74788d;
$font-family: 'Poppins', sans-serif;
$height: 70px;
$bg-color: #F8F8FB;
$icon-color: #555b6d;
$icon-size: 22px;
$nav-font-size: 16px;
$leftnav-font: #a6b0cf;
$dashboard-color:495057;
$main-content-p-font-size:13px;
$font-size-15: 15px;
$mute-text: #9f9f9f;
$icon-bg-color:#556ee6;

*{
  font-family: $font-family;
}
@mixin chartLine($height,$width, $backgroundColor) {
  height: $height;
  width: $width;
  background-color: $backgroundColor;
}