.right-bot-side {
  padding: 10px;
  height: 400px;
  width: 89%;
  @media screen and (max-width: 544px){
    width: 88%!important;
    overflow-x: auto;
    height: 300px;
  }
  @media screen and (max-width:1230px) and (min-width: 1150px){
    width: 88%!important;
    margin: 0 0 70px;
  }
  @media screen and (max-width:1150px) and (min-width: 500px){
    width: 98%!important;
    margin: 0 0 70px;
    padding: 0;
  }

  .big-card-body {
    border-radius: 7px;
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 5px;
    padding: 20px;
    @media screen and (max-width:1200px){
      width: 97%;
    }
    @media screen and (max-width:800px) {
      width: 92%;
    }
footer{
  .diagram-descriptions{
    display: flex;
    justify-content: center;
    padding: 13px 0;
    .diagram-box-container{
      padding: 0 10px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      .green{
     background-color:  rgb(52, 195, 143);
        &:hover{
          opacity: .8;
        }
      }
      .yellow{
        background-color: rgb(241, 180, 76);
        &:hover{
          opacity: .8;
        }
      }
      .blue{
        background-color: rgb(85, 110, 230);
        &:hover{
          opacity: .8;
        }
      }
.colors{
  height: 10px;
  width: 10px;
  margin: 0 5px;
}
      p{
        font-size: $main-content-p-font-size;
        font-family: $font-family;
        color: $font-color;
        font-weight: 400;
      }
    }
  }
}
    .diagram {
      height: 80%;
      width: 100%;
      position: relative;
.horizontal{
  height: 100%;
  width: 90%;
  position: absolute;
  @media screen and (max-width: 544px) {
    height: 25%;
  }
  li{
    height: 3px $mute-text;
    list-style: none;
    border-bottom: 1px solid $mute-text;
    padding:26px 0;
    position: relative;
    bottom: 246px;
    z-index: 1;
    width: 100%;
    opacity: .1;
  }
}
      .vertical {
        display: flex;
        height: 70%;
        position: relative;

        .element-chart {
          position: absolute;
          display: flex;
          gap: .6rem;
          padding: 0 10px;
          width: 90%;
          bottom: -48%;
          left: 45px;
          align-items: flex-end;
          @media screen and (max-width: 544px){
        left: 27px;
            gap: 1rem;
          }
          .elements {
            width: auto;
            bottom: 0;
            padding: 0 9px;
            z-index: 2;
            @media screen and (max-width: 500px){
              padding: 0 0.01%!important;
              width: 7px;
            }
            @media screen and (max-width: 1230px) and (min-width: 1150px){
              padding: 0 1% !important;

            }
            @media screen and (max-width:1150px) and  (min-width: 800px) {
              padding: 0 2%!important;
            }
            @media screen and (max-width:800px) and  (min-width: 500px) {
              padding: 0 0.7%!important;
            }
            .color{
              position: relative;
              .hover-effect{
                position: absolute;
                z-index: 4;
                padding: 0;
                list-style: none;
                border-radius: 5px;
                box-shadow: 1px 1px 2px #c4c4c4;
                visibility: hidden;
                .monthes{
                  background-color: #ECEFF1;
                  font-size: 10px;
                  font-family: $font-family;
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  border-bottom: 1px solid #e1e2e5;
                  p{
                    padding: 5px 3px;
                    margin:0;
                  }
                }
.series{
  height: 20px;
  padding: 5px 12px;
  display: flex;
  background-color: rbga(0, 0, 0, 0.7);
  z-index: 4;
  align-items: center;
  span{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: green;
  }
  p{
    z-index:4;
    white-space: nowrap;
    font-size: 10px;
    font-family: $font-family;
    margin-left: 5px;
  }
}

              }
            }
            .month{
              color: #adb5bd;
              font-size: 10px;
              @media screen and (max-width: 544px){
                font-size: 8px;
              }
            }
            .b-1{
              height: 110px!important;
              @media screen and (max-width: 544px){
                height: 70px!important;
              }
            }
            .b-2{
               height: 130px!important;
              @media screen and (max-width: 544px){
                height: 80px!important;
              }
            }
            .b-3{
              height: 100px!important;
              @media screen and (max-width: 544px){
                height: 60px!important;
              }
            }
            .b-4{
              height: 160px!important;
              @media screen and (max-width: 544px){
                height: 100px!important;
              }
            }
            .b-5{
              height: 55px!important;
              @media screen and (max-width: 544px){
                height: 35px!important;
              }
            }
            .b-6{
              height: 110px!important;
              @media screen and (max-width: 544px){
                height: 70px!important;
              }
            }
            .b-7{
              height: 90px!important;
              @media screen and (max-width: 544px){
                height: 50px!important;
              }
            }
            .b-8{
              height: 115px!important;
              @media screen and (max-width: 544px){
                height: 85px!important;
              }
            }
            .b-9{
              height: 55px!important;
              @media screen and (max-width: 544px){
                height: 30px!important;
              }
            }
            .b-10{
              height: 40px!important;
              @media screen and (max-width: 544px){
                height: 25px!important;
              }
            }
            .b-11{
              height: 90px!important;
              @media screen and (max-width: 544px){
                height: 65px!important;
              }
            }
            .b-12{
                height: 105px!important;
              @media screen and (max-width: 544px){
                height: 75px!important;
              }
            }
            .bottom-line {
              position: absolute;
              bottom: 0;
            }

            .blue {
              @include chartLine(30px, 7px, rgb(85, 110, 230));
              border-radius: 3px;
              @media screen and (max-width: 544px){
                width: 3px;
              }
            }

            .green {
              @include chartLine(50px, 7px, green);
              border-radius: 3px;
              @media screen and (max-width: 544px){
                width: 3px;
              }
            }

            .yellow {
              @include chartLine(30px, 7px, rgb(241, 180, 76));
              border-radius: 3px;
              @media screen and (max-width: 544px){
                width: 3px;
              }
            }

            .green {
              @include chartLine(50px, 7px, rgb(52, 195, 143));
              border-radius: 3px;
              @media screen and (max-width: 544px){
                width: 3px;
              }

            }

            .month {
              padding-top: 10px;

            }


          }
          }
        .numbers {
          display: block;
          color: #adb5bd;
          font-size: 10px;
          height: 100%;
          p {
            padding: 30px 0 0 20px;
            @media screen and (max-width: 544px){
              padding: 16px 0 0 13px;
            }
          }
        }
      }
    }
  }
}
//diagram hovers//
.green:hover{
  opacity: .6;
}
.yellow:hover {
  opacity: .6;
}
.blue:hover{
  opacity: .6;
  }
