body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.top-nav {
  display: flex;
  position: fixed;
  height: $height;
  text-align: center;
  width: 100%;
  background-color: white;
  z-index: 99999;

  .nav-form {
    ul {
      .logo-nav {
        @media screen and (max-width: 1230px) {
          width: auto;
        }

        .logo {
          height: $height;
          background-color: $leftnav;
          padding: 0 24px;
          @media screen and (max-width: 1000px) {
            display: none;
          }

          img {
            width: 87px;
            height: 19px;
            padding: 25px 55px;
          }
        }

        .logo2 {
          display: none;
          cursor: pointer;
          @media screen and (max-width: 1000px) {
            display: flex;
            justify-content: center;
            background-color: $leftnav;
            text-align: center;
            width: 70px;
            height: 58px;
          }
          @media screen and (max-width: 480px) {
            width: 50px;
          }

          img {
            display: none;
            @media screen and (max-width: 1230px) {
              display: flex;
              height: $icon-size;
              padding: 18px 25px

            }
          }
        }

      }
    }
  }

  .nav-form {
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
      display: flex;
      margin: 0;
      padding-left: 0 !important;
      #responsive-menu{
        background: #293041;
        display: none;
      }
      li {
        list-style: none;
        font-family: $font-family;
        padding-right: 5px;
      }
    }

    form {
      position: relative;
      padding-top: 20px !important;
      font-size: 13px;

      :focus {
        outline: none;
      }

      input {
        background-color: $bg-color;
        border-radius: 30px;
        padding: 8px 20px 8px 40px !important;
        height: 38px;
        border: none;
      }

      .search-icon {
        position: absolute;
        top: 25px;
        left: 10px;
        height: 20px;
        width: 20px;
        z-index: 99999;
        color: $font-color;
        font-size: $nav-font-size;
      }
    }

    :first-child {
      align-items: center;
      padding: 7.5px 12px;
      .media_query {
        @media screen and (max-width: 1230px) {
          display: none;
        }
      }

      li {
        button {
          display: flex;
          border: none;
          background-color: white;
          outline: none;
          color: #555b6d;

          &:hover {
            cursor: pointer;
          }

          p {
            font-size: $nav-font-size;
          }

          span {
            padding-top: 10px;
            padding-left: 0px;
            font-size: $nav-font-size;
          }
        }
      }
    }

    :last-child {
      padding: 7.5px 12px;
      align-items: center;

      .media_query {
        @media screen and (max-width: 1230px) {
          display: none;
        }
      }

      li {
        position: relative;

        &:hover {
          cursor: pointer;
        }

        .notification {
          position: absolute;
          background-color: #f46a6a;
          color: white;
          border-radius: 10rem;
          padding: 2px 5px;
          top: -7px;
          right: 0;
          font-size: 75%;
        }

        .henry {
          display: flex;
          text-align: center;
          align-items: center;
          border: none;
          background-color: white;
          outline: none;

          &:hover {
            cursor: pointer;
          }

          img {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            padding: 3px;
          }

          p {
            @media screen and (max-width: 1330px) {
              display: none;
            }
          }

          span {
            @media screen and (max-width: 1330px) {
              display: none;
            }
          }
        }

        i {
          font-size: $icon_size;
          color: $icon_color;
        }

        img {
          height: 16px;
        }
      }
    }
  }
}

//--------------------------//
// top navigation ends here //
//--------------------------//

//---------------------------//
//left navigation starts here//
//---------------------------//
.left-nav {
  background-color: $leftnav;
  position: fixed;
  top: 70px;
  width: 250px;
  overflow: scroll;
  max-height: 95%;
  z-index: 100;
  @media screen and (max-width: 1230px) {
    width: 244.5px;
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }

  ul {
    display: block;
    padding: 0;

    .dashboard {
      color: white !important;
    }

    .li-no-padding {
      &:hover {
        padding: 15px 30px;
      }
    }

    li {
      position: relative;
      list-style: none;
      color: $leftnav-font;
      padding: 15px 30px;
      font-size: 12px;
      transition: .4s all linear;
      font-family: $font-family;

      &:hover {
        color: white;
        cursor: pointer;
        padding: 0 30px;
      }

      &:hover .dropdown-dash {
        display: block !important;
      }

      .dropdown-dash {
        display: none;

        li {
          padding: 7px 24px 7px 35px;
          font-family: $font-family;
          font-size: $main-content-p-font-size;
          color: #79829c;

          &:hover {
            color: white;
          }
        }
      }

      i {
        font-size: 1.25rem;
        padding-right: 10px;
      }

      .zero-three {
        background-color: #50a5f1;
        float: right !important;
        border-radius: 10rem;
        padding-right: .6em;
        padding-left: .6em;
        padding-top: 3px;
        font-size: 10px;
      }

      .new {
        background-color: #34c38f;
        padding-left: .6em;
        padding-right: .6em;
        border-radius: 10rem;
        color: white !important;
        font-size: 10px;
        float: right;
      }

      .ten {
        background-color: #f46a6a;
        padding-left: .6em;
        padding-right: .6em;
        border-radius: 10rem;
        color: white !important;
        font-size: 10px;
        float: right;
      }

      span {
        float: right;
      }
    }

    .nav-title {
      padding: 12px 20px !important;
      pointer-events: none;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: .05em;
      color: #6a7187;
    }
  }
}

.mega-menu {
  display: flex;
  background-color: white;
  border: none;
  padding: 0 24px 0 0 !important;

  p {
    font-size: $main-content-p-font-size !important;
  }
}

.logo-nav {
  width: 250px;
  padding: 0 !important;

  .logo {
    img {
      padding: 20px 0;
    }
  }
}
