.main-up{
  padding: 80px 0 0!important;
  @media screen and (max-width: 415px) and (min-width: 322px){
    padding: 65px 0 0!important;
  }
  @media screen and (max-width: 322px) {
  padding: 0!important;
  }
  @media screen and (max-width: 540px) and  (min-width: 415px){
    padding: 70px 0 0!important;
  }
  @media screen and (max-width: 1000px) and (min-width: 540px){
    padding: 63px 0 0!important;
  }
}
.main-content{
  padding: 143px 0 0;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 376px){
padding: 107px 0 0;
  }
  @media screen and (max-width: 322px){
    padding: 20px 0 0;
  }
  .two-side{
    display: block;
    height: -webkit-fill-avaliable;
    .sign-up-footer{
      padding: 0 50px;
    }
  footer{
    text-align: center;
    a{
      text-decoration: none;
    }
    .text{
      color: #1E2C40;
    }
    .sign-up-text{
      color: black;
      font-weight: bold;
    }
    .google-btn{
      justify-content: center;
      border-radius: 20px;
      padding: 20px;
      border: 2px solid #9f9f9f;
      margin-top: 30px;
      color: black;
      width: 100%;
      background-color: white;
      font-weight: bold;
      font-size: 16px;
      align-items: center;
      display: flex;
      i{
        font-size: 20px;
      }
    }
    .btn{
      margin-top: 10px;
      display: flex;
      justify-content: center;
      img{
        height: 80px;
        width: 80px;
      }
    }
  }
  }
  .align{
    display: block;
    width: 100%;
    padding: 130px 40px 0;
    height: -webkit-fill-avaliable;
    @media screen and (max-height: 570px){
padding: 0 40px;
    }
    @media screen and (max-height: 670px) and (min-height: 570px) {
      padding: 75px 40px 0;
    }
    @media screen and (max-height: 1370px) and (min-height: 1130px) {
      padding: 300px 40px 0;
    }
    h4{
      font-size: 35px;
      font-weight: 500;
      margin: 0;
      font-family: "Roboto Thin", sans-serif;
    }
    form *{
      display: block;
      padding: 5px;
    }
    form {
      width: 100%;
      position: relative;

      .telephone {
        position: relative;

        .arrow-down {
          position: absolute;
          top: 29;
          left: 41;
        }
      }

      fieldset {
        .name {
          width: 50px !important;
        }

        .mail {
          width: 59px !important;
        }

        input {
          outline: none;
          font-size: 15px;
          padding: 0 10px 14px !important;
        }

        .active {
          color: #FF8701;
        }

        .little-more {
          width: 70px;
        }

        legend {
          padding: 6px;
          width: 62px;
          color: #9f9f9f;
        }
      }

      .no-border {
        border: none;
        padding: 0 0 5px;
        margin: 0;
        justify-content: center;
      }

      .border-color-orange {
        border: 2px solid #FF8701;
        border-radius: 15px;
        width: 100%;
      }

      .border-color-normal {
        border: 2px solid #9f9f9f;
        border-radius: 15px;
        width: 100%;
      }

      .visible {
        letter-spacing: 4px;
      }

      i {
        position: absolute;
        top: 103;
        left: 97%;
        font-size: 18px;
        width: auto !important;
        @media screen and (max-width: 500px) {
          left: 85%;
        }
        @media screen and (max-width: 800px) and (min-width: 500px) {
          left: 90%;
        }
        @media screen and (max-width: 1100px) and (min-width: 800px) {
          left: 93%;
        }
      }

      input {
        padding: 20px;
        margin-top: 25px;
        border-radius: 20px;
        font-size: 22px;
      }

      button {
        justify-content: center;
        border-radius: 20px;
        padding: 20px;
        border: none;
        margin-top: 30px;
        background-color: #FF8701;
        color: white;
        font-size: 15px;
        width: 100%;
      }

      .end {
        font-size: 15px !important;
        text-align: end !important;
        display: block !important;
        padding: 0 !important;
        margin-top: 10px;
      }

      .mid {
        text-decoration: none;
        white-space: nowrap;
        font-size: 15px;
        color: #9FA5BB;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        a {
          text-decoration: none;
          white-space: nowrap;
          font-size: 15px;
          color: #9FA5BB;
          display: flex;
          align-items: center;
          justify-content: center;
          p{
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
.sign-up{
    color: #FF8701;
    margin: 10px 0;
    font-size: 16px;
}
.end{
  text-decoration: none;
  white-space: nowrap;
  font-size: 15px;
  color: #9FA5BB;
  display: flex;
  align-items: center;
  justify-content: center;
}
