@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: #fff;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search-box{
    display: flex;
    margin: 1.2rem 0;
    align-items: stretch;
}
.search-content,
.search-btn{
    width: 100%;
}
.search-content{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid;
    color: orangered;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-content::placeholder{
    color: orangered;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: orangered;
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
}
.search-btn:hover{
    background: rgb(199, 65, 24);
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -10px;
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    background: orangered;
    border-radius: 2rem;
    padding: 0.75rem 0;
    font-weight: 500;
    font-size: 1.1rem;
    display: block;
    width: 175px;
    margin: 1rem auto;
    transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: rgb(199, 65, 24);
}
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: orangered;
    border-radius: 1rem;
    height: 90%;
    width: 90%;
    overflow-y: scroll;
    padding: 2rem 0;
    display: none;

}
.recipe-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 2rem;
    width: 2rem;

    border-radius: 1rem;
    background: orange;
    color: white;
    border: none;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 2rem;
}
.meal-details-content{
    margin: 2rem;
    font-size: 1.7rem;
}
.meal-details-content p{
    padding: 1rem 0;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4 linear;
    text-decoration: none;
    background: orange;
    border-radius: 2rem;
    padding: 10px;
}
.recipe-link a:hover{
    opacity: 0.8;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: white;
    font-weight: 600;
    display: inline-block;
    color: orangered;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
/*js code*/
.showRecipe{
    display: block;
}
.notFound{
    grid-template-columns: 1fr!important;
    color: orangered;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* media querys */

@media screen and (min-width: 600px){
    .meal-search-box{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .meal-details{
        width: 1000px;
    }
    
}
